<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoi hautran</title>
</head>

<body>
    <h1>Hello World with hau tran from view</h1>
    <p>
        <%=data %>
    </p>
</body>

</html>